body {
  font-family: Segoe UI, SegoeUI, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.background-img{
  background-image: url(../images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 20px;
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background: transparent;
}
.carousel-inner img {
  width: 100%;
  margin: auto;
  min-height: 200px;
}

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  color: #fff;
  font-size: 25px;
  font-weight: bolder;
}
.navbar-brand{
  font-size: 4px;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 15px 10px 15px 25px;
  color: #fff;
  font-size: 18px;
}
.navbar-inverse .navbar-nav>li>a {
  color: #fff;
}

.navbar-inverse {
border-color: transparent;
}
.header1{
  padding-top: 150px;
  font-size: 20px;
  color: #fff;
  font-style: normal;
  font-family: sans-serif;

}
.header2{
  font-size: 40px;
  color: #fff;
  margin-bottom: 40px;
  margin-right: 240px ;
  font-weight: bolder;
}
.lead{
  font-size: 14px;
}

  .buttonview {
    background: #00a3e0;
    color: #fff;
    padding: 5px 25px;
    border: currentColor; 
    font-size: 18px;
    margin-bottom: 380px ;
  }
  .navbar-right~.navbar-right {
    margin-right: -512px;
}
.featurette-heading{
  color: black;
}
.footer{
  background-image: url(../images/footer.png);
  background-size: cover;
  background-repeat: no-repeat;
}


footer {
  background-color: #00299c;
  padding: 25px;
  color: #ffffff;
}
.fa {
  padding: 5px 7px;
  font-size: 17px;
  width: 27px;
  /* text-align: center; */
  text-decoration: none;
  /* margin: 5px 2px; */
  border-radius: 5px;
}
.part-2{
  margin-top: 50px;
}
.para {
  font-size: 16px;
}
.center{
  text-align: center;
}

.blue{
  color: #0e648b !important;
  font-weight: bolder;
}
.bgcolor{
  background: #f2f5fa;
  margin-top: 25px;
}
.whitebg-1 {
  background-color: #ffffff;
  padding:10px 00px 10px 10px;
 
  margin-bottom: 30px;
}

.whitebg {
  background-color: #ffffff;
  padding:10px 00px 10px 10px;
  border: 1px solid #cccccc;
  margin-bottom: 30px;
}
.heading1 {
  color: blue;
  margin-bottom: 15px;
  font-size: 16px;
}
.heading2 {
  color: #000;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: bolder;
}
.border{
  border-bottom: 1px solid wheat;
  margin-bottom: 10px;
}
.featurette-heading {
  color: #000;
  font-size: 16px;
}
.white a{
  color: #fff;
  padding-top: 10px;
  color: #a2a4bf;
}
.footer-logo{
  padding-top: 0px !important;
  margin-top: 0px !important;
  font-size: 24px;
  font-weight: bolder;
}
.footer-para{
  padding-right: 300px;
  color: #a2a4bf;
}
.footer-head{
  font-size: 18px;
}
.copy{
  color: #a2a4bf;
  font-size: 14px;
}
.fa {
  padding: 5px 7px;
  font-size: 17px;
  width: 27px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px; 
  border-radius: 50px;
  background-color:#a2a4bf;;
}
.white li{
  padding-bottom: 5px;
}
.border-pad{
  padding-left: 25px;
  padding-right: 90px;
}



@media (min-width: 768px) {
  .carousel-caption {
    right: 28%;
    left: 0%;
    padding-bottom: 45px;
  }
  .buttonview {
    background: #00a3e0;
    color: #fff;
    padding: 5px 25px;
    border: currentColor; 
    font-size: 18px;
    margin-bottom: 340px;
  }
  .container-fluid > .navbar-collapse,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container > .navbar-header {
    margin-right: 75px;
    margin-left: 0px;
  }


  .carousel-caption p {
    font-size: 20px;
    color: #00299c;
    font-weight: normal;
  }

  .carousel-caption h3 {
    font-size: 72px;
    color: #00299c;
    line-height: 85px;
  }
  .navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  color: #fff;
  font-size: 20px !important;
  font-weight: bolder;
}
.buttonview1 {
  background: #fff;
  color: #003da5;
  padding: 5px 25px;
  border: 1px solid #003da5; 
  font-size: 16px;

}
 

}


@media (max-width: 600px) {
  .carousel-caption {
    display: block;
  }
  .carousel-caption p {
    font-size: 10px;
    color: #00299c;
    font-weight: normal;
  }
  .header1{
    padding-top: 50px !important;
  }
  .header2{
    font-size: 35px !important;
  }

  .carousel-caption h3 {
    font-size: 12px;
    color: #00299c;
    line-height: 15px;
  }

.m-t-10 {
  margin-top: 50px;
}


.buttonview1 {
  background: #ffffff;
  color: #00299c;
  border-radius: 0px;
  padding: 5px 15px;
  border: 2px solid #00299c;
  margin-bottom: 50px;
}
.header2{
  margin-right: 0px !important;
}


.whitebg {
  background-color: #ffffff;
  padding: 20px 20px 10px 20px;
  border: 1px solid #cccccc;
  margin-bottom: 30px;
}

.para {
  font-size: 14px;
}
.center{
  text-align: center;
}

.blue{
  color: #0e648b;
  font-weight: bolder;
}
.buttonview{
  margin-bottom: 60px!important;
}

.m-b-10 {
  margin-bottom: 10px;
}


.fa:hover {
  opacity: 0.7;
}

.social{
  padding-left:10px !important;
}
.footer-para{
  padding-right: 0px !important;
}
.border-pad{
  padding: 0px !important;
}


}